/* MultipleChoiceQuestion.module.css */
.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 20px auto; /* Increased margin for better centering */
    padding: 15px; /* Increased padding */
    background-color: #f0f0f0;
    border-radius: 10px; /* Slightly larger border radius */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    top: 5%;
    transform: translateY(-50%);
    font-size: 1.2rem; /* Larger base font size for the container */
}

.question {
    margin-bottom: 30px; /* Increased bottom margin */
    font-size: 1.5rem; /* Larger font size for questions */
}

.button {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 5px auto; /* Increased margin */
    padding: 10px; /* Larger padding for buttons */
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}

.answersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjusted for a balanced look */
    gap: 15px 0px;
    width: 100%;
}

.button:hover {
    background-color: #d0d0d0; /* Lighter grey on hover for better visibility */
}
