/* SectionPage.module.css */
.container {
    margin-left: -10%;
    margin-top: 20%;
    height: 100vh; /* Takes full height of the viewport */
    width: 100vw; /* Takes full width of the viewport */
}
